*~
*.o
*.lo
*.la
*.so
*.ko
.*.swp
.*.swo
.*.cmd
.tmp_versions
.deps
.libs
Module.symvers
modules.order
aclocal.m4
ar-lib
autoscan.log
autom4te.cache
config.log
config.msg
config.sub
config.guess
config.status
configure
configure.scan
compile
depcomp
install-sh
libtool
libtool.m4
ltmain.sh
lt~obsolete.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
missing
stamp-h1
/Makefile
/Makefile.in
/include/judge_conf.h
/include/judge_conf.h.in
/judge/Makefile
/judge/Makefile.in
/judge/center_server
/judge/judge_server
/judgk/Makefile
/judgk/judgk.mod.c
/taiwan-online-judge-*.tar.*z
/taiwan-online-judge-*.zip
